/* section 1 css start from here...................................................................................................... */
#section-1 {
    display: inline-block;
    width: 50%;
    float: left;
}

h1 {
    font-size: 2rem;
    position: relative;
    top: 1rem;
    left: 3%;
}

address {
    font-size: 1.5rem;
    position: relative;
    top: 1.4rem;
    left: 3%;
}

#map {
    width: 95%;
    height: 85%;
    position: relative;
    top: 1.8rem;
    left: 3%;
    border: 0.2rem solid #7085F5;
}

/* section 2 css start from here...................................................................................................... */
#section-2 {
    display: inline-block;
    width: 50%;
}

/*media quries to change font size depending on screen resolution......................................................................*/

@media screen and (max-width: 1360px) {
    html {
        font-size: 13px;
    }
}