@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto+Condensed:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    color: #4E4E4E;
}

.header {
    background-color: #7085F5;
}

/*Site logo...........................................................................................................................*/

#logo {
    display: inline-block;
    font-family: 'Anton', sans-serif;
    font-size: 3.5rem;
    color: #EFEFEF;
    position: relative;
    left: 5px;
}

/*Navigation Bar.......................................................................................................................*/

nav {
    position: relative;
    float: right;
    font-family: 'Roboto Condensed', sans-serif;
    color: #EFEFEF;
}

nav > a {
    color: #EFEFEF;
    font-size: 1.5rem;
    padding: 10px;
    position: relative;
    top: 5px;
}

a:hover {
    color: #C4C4C4;
}

/*search box...........................................................................................................................*/

.search-box {
    display: inline-block;
}

.search {
    display: inline-block;
    width: 25vw;
    height: 28px;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    box-shadow: none;
    background-color: #EFEFEF;
    border-style: none;
    color: #4E4E4E;
}

.search:focus {
    outline: none;
}

::placeholder {
    color: #C4C4C4;
    opacity: 1;
}

.search-btn {
    position: relative;
    left: -4px;
    bottom: -11px;
    height: 30px;
    background-color: #EFEFEF;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.search-btn:hover {
    background-color: #A0A0A0;
}

.menu-icon {
    display: none;
}

.close-icon {
    display: none;
}

/*site page body CSS start from here(section 1).........................................................................................*/

.section-1 {
    background-image: url(resources/Images/pexels-polina-tankilevitch-3735780.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    background-size: 100%;
    /* background-attachment: fixed; */
    z-index: 2;
    
}

.frosted-glass-back {
    width: 80%;
    height: 50%;
    background: rgba(239, 239, 239, 0.8);
    position: relative;
    top: 23vh;
    margin: auto;
    border-radius: 0.5rem;
    backdrop-filter: blur(4px);
}

.SVG-1 {
    width: 27%;
    float: right;
    position: relative;
    top: -30px;
    right: 5px;
    
}

h1 {
    position: relative;
    top: 10%;
    left: 2%;
    font-size: 2.5rem;
}

.frosted-glass-back > p {
    font-size: 1.3rem;
    display: inline-block;
    position: relative;
    top: 20%;
    left: 2%;
    
}

p > a {
    color: #7085F5;
}

.gredient {
    position: absolute;
    bottom: 0%;
    height: 70px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255, 255, 255, 0.5), rgb(255, 255, 255, 0.7), rgb(255, 255, 255, 1)); 
    z-index: 5;
}

/*resizing section 1 to diffrent resolutuion...........................................................................................*/

@media screen and (min-width: 1500px) {
    .break-1 {
        display: none;
    }

    .break {
        display: none;
    }

    .break-2 {
        display: none;
    }

    .SVG-1 {
        top: 10%;
    }
}

@media screen and (max-width: 1500px) {
    .break {
        display: none;
    }

    .break-2 {
        display: none;
    }

    .SVG-1 {
        top: 10%;
    }
}

@media screen and (max-width: 1280px) {
    .break-1 {
        display: inline;
    }

    .break {
        display: none;
    }

    .break-2 {
        display: inline;
    }

    .SVG-1 {
        top: 10%;
    }
}

@media screen and (max-width: 1030px) {
    .break-1 {
        display: none;
    }

    .break {
        display: inline;
    }

    .break-2 {
        display: inline;
    }

    .SVG-1 {
        top: 10%;
    }
}