@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto+Condensed:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #EFEFEF;
}

.header {
    background-color: #7085F5;
    min-height: 3rem;
}

/*Site logo...........................................................................................................................*/

#logo {
    display: inline-block;
    font-family: 'Anton', sans-serif;
    font-size: 2.5rem;
    color: #EFEFEF;
    position: relative;
    top: 5px;
    left: 8px;
}

/*Navigation Bar.......................................................................................................................*/

.menu-icon {
    float: right;
    position: relative;
    top: 8px;
    right: 8px;
    width: 2.5rem;
}

.close-icon {
    display: none;
    float: right;
    position: relative;
    width: 3.5rem;
    
}

nav {
    display: none;
    clear: right;
    font-family: 'Roboto Condensed', sans-serif;
    color: #EFEFEF;
}

nav > a {
    display: block;
    text-align: center;
    color: #EFEFEF;
    font-size: 2rem;
    padding: 10px;
    position: relative;
}

a:hover {
    color: #C4C4C4;
}


/*search box...........................................................................................................................*/

/* .bar {
    width: 500px; 
margin: 0 auto;
} */

.search:focus {
    outline: none;
}

::placeholder {
    color: #C4C4C4;
    opacity: 1;
}

.search-btn {
    position: relative;
    left: 3%;
    bottom: -8px;
    height: 30px;
    background-color: #EFEFEF;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search {
    position: relative;
    left: 5%;
    bottom: 3px;
    width: 75vw;
    height: 28px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: none;
    background-color: #EFEFEF;
    border-style: none;
    color: #4E4E4E;
}

.search-btn:hover {
    background-color: #A0A0A0;
}

/*changing position of search box according to diffrent screen sizes (hardcoding).......................................................*/

@media screen and (min-width: 375px) {
    .search-btn {
        left: 5%;
    }

    .search {
        left: 7%;
    }
}

@media screen and (min-width: 450px) {
    .search-btn {
        left: 6%;
    }

    .search {
        left: 8%;
    }
}

@media screen and (min-width: 550px) {
    .search-btn {
        left: 7%;
    }

    .search {
        left: 9%;
    }
}

@media screen and (min-width: 768px) {
    .search-btn {
        left: 8%;
    }

    .search {
        left: 10%;
    }
}

/*site page body CSS start from here...................................................................................................*/


h1 {
    text-align: center;
    position: relative;
    top: 1rem;
    font-size: 2rem;
    font-weight: 600;
}

.para {
    position: relative;
    top: 2rem;
    text-align: center;
    font-size: 1.4rem;
}

.SVG-1 {
    position: relative;
    top: 5rem;
    display: block;
    margin: auto;
    
}

p > a {
    color: #7085F5;
}

/*hidding <br> tag which we used in desktop version which is unnecessery now............................................................*/

.break, .break-1, .break-2 {
    display: none;
}