sup {font-size:xx-small; vertical-align:super;}

sub {font-size:xx-small; vertical-align:sub;}

#header {
    width: 50%;
    font-size: 2rem;
    position: relative;
    top: 2rem;
    left: 3%;
}

.test-search-field {
    position: relative;
    text-align: center;
    top: 3rem;
}

#test-name {
    outline: none;
    background-color: #7085F5;
    border-style: none;
}

.test-name:focus {
    /* outline: none; */
}

::placeholder {
    color: #C4C4C4;
    opacity: 1;
}

#test-search-btn {
    cursor: pointer;
    color: #EFEFEF !important;
    background-color: #7085F5;
    border-style: none;
    outline: none;
}

#test-search-btn:hover {
    background-color: #BCBCBC;
}

#test-search-btn, #test-name {
    padding: 8px;
    color: #2C2C2C;
    border-radius: 0.2rem;
}

table {
    position: relative;
    top: 4rem;
    margin: auto;
    width: 50%;
    border: 2px solid #7085F5;
}
tr:nth-child(even) {
    background-color: #BCBCBC;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    font-size: 1.3rem;
}

@media screen and (max-width: 900px) {
    #header {
        position: relative;
        top: 1rem;
        left: 0;
        width: 100%;
        text-align: center;
    }

    body {
        background-color: #EFEFEF;
    }

    table {
        width: 95%;
    }
}