sup {font-size:xx-small; vertical-align:super;}

sub {font-size:xx-small; vertical-align:sub;}

#header {
    width: 50%;
    font-size: 2rem;
    position: relative;
    top: 2rem;
    left: 3%;
}

table {
    position: relative;
    top: 4rem;
    margin: auto;
    width: 50%;
    border: 2px solid #7085F5;
}
tr:nth-child(even) {
    background-color: #BCBCBC;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    font-size: 1.3rem;
}

@media screen and (max-width: 900px) {
    #header {
        position: relative;
        top: 1rem;
        left: 0;
        width: 100%;
        text-align: center;
    }

    body {
        background-color: #EFEFEF;
    }

    table {
        width: 95%;
    }
}